body {
  background: rgb(155, 154, 152);
  padding-left: 30px;
  padding-top: 10px;
}

.title {
  font-size: 30px;
}

.mainContainer{
  background-color: rgb(223, 224, 224);
  width: 600px;
  padding: 20px;
}
  .listItem{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
.titleContainer{
  margin-bottom: 20px;
}

.optionContainer{
  margin-bottom: 20px;
  padding-left: 20px;
}
  .optionContainer .listItem label{
    margin-left: 5px;
  }
  .optionContainer .basic{
    font-size: 20px;
  }
  .optionContainer form{
    padding-left: 10px;
    padding-top: 5px;
  }
    .optionContainer form * {
      cursor: pointer;
    }


.textContainer{
  margin-bottom: 20px;
  padding-left: 20px;
}
  .textContainer .advanced {
    font-size: 20px;
  }
  .textContainer form{
    padding-left: 10px;
    padding-top: 5px;
  }
    .textContainer form input{
      width: 110px;
    }

.message{
  font-size: 15px;
}