body {
  width: 250px;
  overflow-x: hidden;
}

.mainContainer {
  height: 100%;
  padding: 10px;
  background-color: rgb(81, 81, 81);
  padding: 0px;
}

.statusContainer{
  height: 50px;
  padding: 5px;
  background-color: white;
}
body {
  font-family: sans-serif;
  font-weight: normal;
  margin: 10px;
  color: #999;
  background-color: #eee;
}


label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
  margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #9CE2AE;
  background-color: #4DCB6D;
}

input.radio:checked ~ label {
  color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}
.status{
  color: white;
  text-align: center;
  font-size: 30px;
}

.buttonContainer{
  height:120px;
  padding: 5px;
  background-color: rgb(142, 142, 142);
}
  .buttonContainer button{
    cursor: pointer;
    border: 2px solid white;
    background: none;
    padding: 0px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    border-radius: 25%;

}
    .buttonContainer button .powerButton{
      width: 100%;
    }

.questionContainer
  {
    background: rgb(199, 199, 199);
    padding: 5px;
    text-align: center;
}

  .intro {
  margin-bottom: 2px;
  }

  .questionContainer .question .domain{
    margin-bottom: 5px;
    margin-top: 2px;
    word-break: break-word;
    word-wrap: break-word;
  }

form {
  text-align: left;
  margin-left: 55px;
}



